@import "tailwindcss";

@theme {
  --bg-black: #7c3aed;
  --color-main: #f4f4f4;
  --color-white: #ffffff;
  --color-title: #202124;
  --color-muted: #8e8e8e;
  --color-red: #e14942;
  --color-border: #cbd5e1;

  --font-sans: "Inter";

  --spacing-w-default: 480px;
  --spacing-h-default: 655px;
}

:root {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
}
